body {
	background: darkgray;
	padding: 55px;
}

#helmet-top {
	width: 130px;
	height: 55px;
	background-color: white;
	border-top: 6px solid black;
	border-bottom: 6px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 50px 50px 5px 5px;
}

#helmet-mid {
	position: absolute;
	width: 165px;
	height: 45px;	
	background-color: white;
	border-top: 4px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 25px 25px 15px 15px;
	margin-top: -2px;
	margin-left: -18px;
	z-index: -23;
}

#helmet-left-stripe1 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 58px;
	margin-left: -20px;
	z-index: -21;
	transform: rotate(-40deg);
}

#helmet-left-stripe2 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 63px;
	margin-left: -15px;
	z-index: -21;
	transform: rotate(-40deg);
}

#helmet-left-stripe3 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 70px;
	margin-left: -10px;
	z-index: -21;
	transform: rotate(-40deg);
}

#helmet-right-stripe1 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 58px;
	margin-left: 135px;
	z-index: -21;
	transform: rotate(40deg);
}

#helmet-right-stripe2 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 63px;
	margin-left: 130px;
	z-index: -21;
	transform: rotate(40deg);
}

#helmet-right-stripe3 {
	position: absolute;
	width: 10px;
	height: 1px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 70px;
	margin-left: 125px;
	z-index: -21;
	transform: rotate(40deg);
}

#helmet-middle {
	position: absolute;
	width: 150px;
	height: 45px;	
	background-color: white;
	border-bottom: 4px solid black;
	border-radius: 15px;
	margin-top: 45px;
	margin-left: -10px;
	z-index: -23;
}

#helmet-left {
	position: absolute;
	width: 40px;
	height: 40px;	
	background-color: white;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 14px;
	margin-top: 45px;
	margin-left: -25px;
	z-index: -22;
	transform: rotate(45deg);
}

#helmet-right {
	position: absolute;
	width: 40px;
	height: 40px;	
	background-color: white;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 14px;
	margin-top: 45px;
	margin-left: 110px;
	z-index: -22;
	transform: rotate(225deg);
}

#eyes div {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	z-index: 1;
}

#lefteye {
	width: 0;
	height: 5px;
	border-top: 10px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 55px solid black;
	margin: 2px;
	border-radius: 6px;
	transform: skew(12deg, -12deg);
}

#righteye {
	width: 0;
	height: 5px;
	border-top: 10px solid transparent;
	border-bottom: 15px solid transparent;
	/*border-left: 55px solid black;*/
	border-right: 55px solid black;
	margin: 2px;
	border-radius: 6px;
	transform: skew(-12deg, 12deg);
}

#mouth {
	width: 0;
	height: 5px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid black;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	margin-top: -20px;
	margin-left: 16px;
	/*transform: skew(2deg, 12deg);*/

}

#mouth-bottom {
	width: 0;
	height: 5px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid white;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	margin-top: -33px;
	margin-left: 16px;
	/*transform: skew(2deg, 12deg);*/
}

#helmet-bottom-left {
	position: absolute;
	width: 56px;
	height: 40px;	
	background-color: white;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 14px;
	margin-top: -5px;
	margin-left: -5px;
	z-index: -22;
	transform: rotate(-25deg);
}

#helmet-bottom-left-inside {
	position: absolute;
	width: 20px;
	height: 18px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 12px;
	margin-left: 5px;
	z-index: -22;
	transform: rotate(-25deg);
}

#helmet-bottom-right {
	position: absolute;
	width: 56px;
	height: 40px;	
	background-color: white;
	border-right: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 14px;
	margin-top: -5px;
	margin-left: 75px;
	z-index: -22;
	transform: rotate(25deg);
}

#helmet-bottom-right-inside {
	position: absolute;
	width: 20px;
	height: 18px;	
	background-color: black;
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-radius: 4px;
	margin-top: 12px;
	margin-left: 100px;
	z-index: -22;
	transform: rotate(25deg);
}